/*Reset*/
* {
    box-sizing:border-box;
}

/* Faire accepter des nouveaux éléments structuraux de HTML5 sur les vieux navigateurs Internet Explorer */
article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

/**********************************************************************************************************************/
/*** Pour tous les pages ***/
div.wrapper{
    padding-left:2vw;
    padding-right:2vw;
    /*background-color:#2d4257;*/
    background: -moz-linear-gradient(92deg, rgba(45,66,87,1) 0%, rgba(69,99,128,1) 99%, rgba(69,99,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69,99,128,1)), color-stop(1%, rgba(69,99,128,1)), color-stop(100%, rgba(45,66,87,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(92deg, rgba(45,66,87,1) 0%, rgba(69,99,128,1) 99%, rgba(69,99,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(92deg, rgba(45,66,87,1) 0%, rgba(69,99,128,1) 99%, rgba(69,99,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(92deg, rgba(45,66,87,1) 0%, rgba(69,99,128,1) 99%, rgba(69,99,128,1) 100%); /* ie10+ */
    background: linear-gradient(358deg, rgba(45,66,87,1) 0%, rgba(69,99,128,1) 99%, rgba(69,99,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#456380', endColorstr='#2d4257',GradientType=0 ); /* ie6-9 */

}

div.wrapper h2{
    font-family: 'Henny Penny', cursive;
    position:relative;
    left:-1vw;
    font-size:2.75rem;
    color: #fabc01;
}

div.wrapper h3{
    font-family: 'Henny Penny', cursive;
    position:relative;
    left:-0.5vw;
    font-size:2rem;
    color: #fabc01;
}

div.wrapper h4{
    font-family: 'Henny Penny', cursive;
    position:relative;
    left:-0.25vw;
    font-size:1.75rem;
    color:#fabc01;
}

div.wrapper p{
    font-family: 'Marck Script', cursive;
    color:#fabc01;
    font-size:1.25rem;
}

/**********************************************************************************************************************/

/**********************************************************************************************************************/
/***Pour le header ***/
header {
    width:100vw;
    position:relative;
}

/*Pour aligner le texte dans les li*/
/*Aussi dimension du nav*/
header nav {
    text-align:center;
    height:8vh;
}

/*Pour enlever le padding des unordered list*/
header ul {
    padding:0;
    height:0;
    margin-top:0;
}

/*Enlever les points, liste horizontale, dimension des li, couleurs des li, font des li*/
header li {
    list-style-type:none;
    float:left;
    width:19vw; /*chaque li a environ 20% du width du width du header*/
    height:8vh;
    /*background-color: #512a0e;*/
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Marck Script', cursive;

    /*source: http://angrytools.com/gradient*?
    background: -moz-linear-gradient(284deg, rgba(81,42,14,1) 0%, rgba(69,99,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(81,42,14,1)), color-stop(100%, rgba(69,99,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(284deg, rgba(81,42,14,1) 0%, rgba(69,99,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(284deg, rgba(81,42,14,1) 0%, rgba(69,99,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(284deg, rgba(81,42,14,1) 0%, rgba(69,99,128,1) 100%); /* ie10+ */
    background: linear-gradient(166deg, rgba(81,42,14,1) 0%, rgba(69,99,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#512a0e', endColorstr='#456380',GradientType=0 ); /* ie6-9 */
}

/*Centrer le texte verticallement et enlever les soulignements pour les liens*/
header a {
    line-height:8vh;
    text-decoration:none;
    font-size:2rem;
}


/*Style pour lien*/
header a:link {
    color:#fabc01;
}

/*Style pour lien*/
header a:visited {
    color:#fabc01;
}

/*Style pour lien*/
header a:hover {
    color:white;
}

header img{
    position:absolute;
    height: 50vh;
    width:95vw;
    top:8vh;
    z-index:1;
    opacity:0.95;
}

header div{
    height:60vh;

}

header h1{
    position:absolute;
    font-family: 'Henny Penny', cursive;
    top:12vh;
    z-index:40;
    padding:0;
    margin:0;
    font-size: 14vw;
    left:20vw;
    color:#fabc01;
}

/**********************************************************************************************************************/

/**********************************************************************************************************************/
/***Pour le footer ***/
footer {
    width:95vw;
    position:relative;
    background-color: #1b2432;

}

/*Pour aligner le texte dans les li*/
/*Aussi dimension du nav*/
footer nav {
    position:absolute;
    text-align:center;
    height:8vh;
    top:17vh;
}

/*Pour enlever le padding des unordered list*/
footer ul {
    padding:0;
    height:0;
    margin-top:0;
}

/*Enlever les points, liste horizontale, dimension des li, couleurs des li, font des li*/
footer li {
    list-style-type:none;
    float:left;
    width:19vw; /*chaque li a environ 20% du width du width du header*/
    height:8vh;
    /*background-color: #512a0e;*/
    /*font-family: 'Lato', sans-serif;*/
    background-color: #1b2432;
}

footer{
    position:relative;
    height:25vh;
}

/*Centrer le texte verticallement et enlever les soulignements pour les liens*/
footer a {
    line-height:8vh;
    text-decoration:none;
    font-size:1.5rem;
    font-family: 'Marck Script', cursive;
}


/*Style pour lien*/
footer a:link {
    color:#fabc01;
}

/*Style pour lien*/
footer a:visited {
    color:#fabc01;
}

/*Style pour lien*/
footer a:hover {
    color:white;
}
/**********************************************************************************************************************/

/**********************************************************************************************************************/
/***Pour la gallerie ***/

main#gallerie {
    position:relative;
}

/*Redimensionner les images*/
main#gallerie img{
    width:30vw;
    height:30vh;
    margin:5%;
}

main#gallerie a.lightbox{
    display:none;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:999;
    position:fixed;
    top:0;
    right:0;
}

main#gallerie a.lightbox img{
    width:75%;
    height:75%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-60%,-60%);
}


main#gallerie a.lightbox:target {
    display:block;
}

main#gallerie h3{

}


/**********************************************************************************************************************/

/**********************************************************************************************************************/
/*** Pour le store ***/

main#store img.productPicture{
    position:relative;

}


main#store div#wands img{
    width:22vw;
    height:35vh;
}

main#store div#brooms img{
    width:22vw;
    height:11vh;
}

main#store div#books img{
    width:17vw;
    height:35vh;
    left:3.25vw;
}

main#store div.seperator{
    border-bottom:0.30vw solid #173980;
    padding-bottom:4%;
    margin-bottom:1vh;
    margin-top:1vh;
    margin-right:auto;
    margin-left:auto;
    width:50vw;

}

main#store div#wands img[src="images/gold_coin.jpg"]{
    display:inline-block;
    width:1.5vw;
    height:1.5vw;
    position:relative;

}

main#store div#brooms img[src="images/gold_coin.jpg"]{
    display:inline-block;
    width:1.5vw;
    height:1.5vw;

}

main#store div#books img[src="images/gold_coin.jpg"]{
    display:inline-block;
    width:1.5vw;
    height:1.5vw;
}

main#store div#wands div.wandProduct{
    display:inline-block;
    width:25vw;
    margin:2vw;
    border:0.25vw solid #fabc01;
    padding:0.5vw;
    vertical-align:top;
    /*height:75vh;*/
    position:relative;
    background-color:white;

}

main#store div#wands div.wandProduct p{
    color:black;

}


main#store div#brooms div.broomProduct{
    display:inline-block;
    width:25vw;
    margin:2vw;
    border:0.25vw solid #fabc01;
    padding:0.5vw;
    background-color:white;
    vertical-align:top;


}

main#store div#brooms div.broomProduct p{
    color:black;

}


main#store div#books div.bookProduct{
    display:inline-block;
    width:25vw;
    margin:2vw;
    border:0.25vw solid #fabc01;
    padding:0.5vw;
    background-color:white;
    vertical-align:top;

}

main#store div#books div.bookProduct p{
    color:black;

}

main#store div#wands form[method="post"]{
    display:inline-block;
    width:3.75vw;
    position:absolute;
    bottom:5%;
    right:5%;

}

main#store div#brooms  form[method="post"]{
    display:inline-block;
    width:3.75vw;
    position:relative;
    left:85%;

}

main#store div#books  form[method="post"]{
    display:inline-block;
    width:3.75vw;
    position:relative;
    right:-15%;
}


main#store button{
    border:0.15vw solid #1d4ba7;
    background-color:#173980;
    color:#fabc01;
    font-size:1rem;
}


main#store div#search{
    position:relative;
    left:2.5%;
    border:0.15vw solid #163a82;
    background-color: #0e214b;
    color:#fabc01;
    width:20vw;
    padding:1vw;
    margin:1vw;
}

main#store div#search input[name="submitSearch"]{
    border:0.15vw solid #163a82;
    background-color: #163a82;
    color:#fabc01;
    position:relative;
    left:40%;
    font-family: 'Marck Script', cursive;
    font-size:1.5rem;
}

main#store p#searchTitle{
    font-size:1.5rem;

}

/**********************************************************************************************************************/

/**********************************************************************************************************************/
/***Pour la page contact ***/
main#contact form {
    border:0.15vw solid #163a82;
    background-color: #0e214b;
    color:#fabc01;
    width:25vw;
    position:relative;
    left:10%;
    margin-bottom:7vh;

}

main#contact form div {
    position:relative;
    padding: 1vh 2vh;
}

main#contact form input[type="text"]{
    position:absolute;
    left:30%;
}

main#contact input[type="submit"]{
    border:0.15vw solid #163a82;
    background-color: #163a82;
    color:#fabc01;
    position:relative;
    left:40%;
    font-family: 'Marck Script', cursive;
    font-size:1.5rem;
}

main#contact iframe{
    margin-bottom:7vh;
    position:relative;
    left:10%;

}

main#contact div.invalid{
    background-color:lightcoral;
}

/**********************************************************************************************************************/

/**********************************************************************************************************************/
/*** Pour la page account ***/

main#account form#loginform{
    border:0.15vw solid #163a82;
    background-color: #0e214b;
    color:#fabc01;
    width:25vw;
    position:relative;
    left:10%;
    margin-bottom:7vh;
    padding: 1vh 2vh;

}

main#account form#loginform input[type="submit"]{
    border:0.15vw solid #163a82;
    background-color: #163a82;
    color:#fabc01;
    position:relative;
    left:40%;
    font-family: 'Marck Script', cursive;
    font-size:1.5rem;

}

main#account form input[type="text"]{
     position:absolute;
     left:30%;
}

main#account form input[type="password"]{
    position:absolute;
    left:30%;
}

main#account input[name="logout"]{
    border:0.15vw solid #163a82;
    background-color: #163a82;
    color:#fabc01;
    position:relative;
    font-size: 1.5rem;
    font-family: 'Marck Script', cursive;
    left:5%;
    padding: 1vh 2vw;


}

main#account div#signout{
    margin-bottom:7vh;
}

main#account div#signin a {
    line-height:8vh;
    text-decoration:none;
    font-size:1.5rem;
    font-family: 'Marck Script', cursive;
    background-color: #163a82;
    padding: 1vh 2vw;
    position:relative;
    left:5%;

}


/*Style pour lien*/
main#account div#signin  a:link {
    color:#fabc01;
}

/*Style pour lien*/
main#account div#signin  a:visited {
    color:#fabc01;
}

/*Style pour lien*/
main#account div#signin  a:hover {
    color:white;
}

/**********************************************************************************************************************/

